<ion-view view-title="Notes">
  <ion-content class='has-header'>
  <div class="row">
    <button class="button button-clear" ng-click="addNote()">+</button>
    <a class="button button-clear" href="#/app/deleteNotes">Delete Notes</a> <!--loads delete notes partial on click -->
  </div>
    <ion-list>
      <ion-item ng-repeat="(key, value) in noteListObject" href="#/app/note/{{key}}"> <!-- saves unique note id to be stored in $stateParams as noteListid -->
        {{value.title}}
      </ion-content>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
