
<ion-view cache-view="false" view-title="Jotter" >
<!-- cache-view='false' above tells the notelist controller to reload when you hit the 'back' button from the note view -->
  <ion-content class='has-header'>
  <div class="row">
    <button class="button button-balanced" id="add-note" ng-click="addNote()">+</button>
    <a class="button button-clear" href="#/app/deleteNotes">Delete Notes</a> <!--loads delete notes partial on click -->
  </div>
    <ion-list>
      <ion-item ng-repeat="(key, value) in noteListObject" href="#/app/note/{{key}}" placeholder="Untitled" ng-model="noteText"> <!-- saves unique note id to be stored in $stateParams as noteListid -->

      <!-- {{value.title}} -->
        <div ng-if="value.title === '' ">
          Watchamacallit
        </div>
        <div ng-if="value.title !== '' ">
        {{value.title}}
        </div>
      </ion-content>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
